*{
    margin: 0px;
    padding: 0px;
    font-family: arial,sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    color: black;
}
header{
    height: 60px;
}
header nav{
    height: 60px;
    display: flex;
    float: right;
    margin: 0px 10px;
    align-items: center;
}
header nav div{
    margin: 0px 8px 0px 11px;
}
header nav div a{
    text-decoration: none;
}
header nav div a:hover{
    text-decoration:underline;
}
header nav div a svg{
    height: 24px;
}
.p-img img{
    border-radius: 50% ;
}


/* Main */

main{
    text-align: center;
    padding: 139px 0px;
}
.search .search-bar{
    margin: 20px 20px 12px 20px;
}
.search .search-bar input[type="search"]{
    height: 50px;
    /* 
    bizden istenen
    max-width: 480px;
    border: none;
    */
    max-width: 580px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid black;
}
input[type="button"]{
    margin: 0px 4px 30px 4px;
    padding: 0px 15px;
    border: 1px solid #f2f2f2;
    color: #5f6368;
    font-family: Arial;
    font-size: 14px;
    height: 36px;
    border-radius: 4px;
}






footer{
    background-color: #f2f2f2;
    position: fixed;
    height: 90px;
    width: 100%;
    bottom: 0px;
}




/*  info için  */
#idInfo{
    background-color: yellow;
    color: red;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding: 8px;
}
.clsExit{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    margin: 0px 10px;
}
.clsExit:hover{
    background-color: rgb(185, 117, 117);
    cursor: pointer;
}